






  
<title> JNotify</title>
    
<h1 align="center">JNotify </h1>

<div class="p"><!----></div>

<h3 align="center">Omry Yadan (omry at contentobjects dot net) </h3>

<div class="p"><!----></div>

<h1>Contents </h1>
<a href="#tth_sEc1"
>1&nbsp; JNotify java API</a><br />
<a href="#tth_sEc2"
>2&nbsp; JNotify native API</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc2.1"
>2.1&nbsp; Linux</a><br />


<div class="p"><!----></div>
 <h2><a name="tth_sEc1">
1</a>&nbsp;&nbsp;JNotify java API</h2>

<div class="p"><!----></div>
JNotify is a java library that allow java application to listen to
file system events, such as:

<div class="p"><!----></div>

<ul>
<li> file created.
<div class="p"><!----></div>
</li>

<li> file modified.
<div class="p"><!----></div>
</li>

<li> file renamed.
<div class="p"><!----></div>
</li>

<li> file deleted.
<div class="p"><!----></div>
</li>
</ul>
JNotify works on Linux
with JNotify support (Kernel 2.6.14 and above).

<div class="p"><!----></div>

<dl compact="compact">
 <dt><b></b></dt>
	<dd>
//&nbsp;to&nbsp;add&nbsp;a&nbsp;watch&nbsp;:&nbsp;

<div class="p"><!----></div>
String&nbsp;path&nbsp;=&nbsp;System.getProperty("user.home");

<div class="p"><!----></div>
//&nbsp;watch&nbsp;mask

<div class="p"><!----></div>
int&nbsp;mask&nbsp;=&nbsp;JNotify.FILE_CREATED&nbsp; - &nbsp;JNotify.FILE_DELETED&nbsp; - &nbsp;JNotify.FILE_MODIFIED&nbsp; - &nbsp;JNotify.FILE_RENAMED;

<div class="p"><!----></div>
//watch&nbsp;subtree?

<div class="p"><!----></div>
boolean&nbsp;watchSubtree&nbsp;=&nbsp;true;

<div class="p"><!----></div>
//&nbsp;add&nbsp;actual&nbsp;watch

<div class="p"><!----></div>
int&nbsp;watchID&nbsp;=&nbsp;JNotify.addWatch(path,&nbsp;mask,&nbsp;watchSubtree,&nbsp;new&nbsp;JNotifyListenerImpl());

<div class="p"><!----></div>
//&nbsp;sleep&nbsp;a&nbsp;little,&nbsp;the&nbsp;application&nbsp;will&nbsp;exit&nbsp;if&nbsp;you&nbsp;

<div class="p"><!----></div>
//&nbsp;don't&nbsp;(watching&nbsp;is&nbsp;asynchrnous),&nbsp;depending&nbsp;on&nbsp;your&nbsp;

<div class="p"><!----></div>
//&nbsp;application,&nbsp;this&nbsp;may&nbsp;not&nbsp;be&nbsp;required

<div class="p"><!----></div>
try

<div class="p"><!----></div>
{

<div class="p"><!----></div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thread.sleep(1000000);

<div class="p"><!----></div>
}

<div class="p"><!----></div>
catch&nbsp;(InterruptedException&nbsp;e1)

<div class="p"><!----></div>
{

<div class="p"><!----></div>
}

<div class="p"><!----></div>
//&nbsp;to&nbsp;remove&nbsp;watch&nbsp;the&nbsp;watch

<div class="p"><!----></div>
boolean&nbsp;res&nbsp;=&nbsp;JNotify.removeWatch(watchID);

<div class="p"><!----></div>
if&nbsp;(!res)

<div class="p"><!----></div>
{

<div class="p"><!----></div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;invalid&nbsp;watch&nbsp;ID&nbsp;specified.

<div class="p"><!----></div>
}

<div class="p"><!----></div>
</dd>
</dl>To use JNotify, you need to have the native library (jnotify.dll or
jnotify.so) in your java.library.path. to do that, you need to use
the -Djava.library.path prameter when you run the java application.
for example:

<div class="p"><!----></div>
java -cp jnotify.jar -Djava.library.path=.

<div class="p"><!----></div>
 <h2><a name="tth_sEc2">
2</a>&nbsp;&nbsp;JNotify native API</h2>

<div class="p"><!----></div>
JNotify uses native library to access the system API required to listen
for changes, currenly Linux is supported.

<div class="p"><!----></div>
     <h3><a name="tth_sEc2.1">
2.1</a>&nbsp;&nbsp;Linux</h3>

<div class="p"><!----></div>
JNotify Linux API is a thin wrapper around Linux INotify API<br />
since Linux INotify API does not support recursive listening on a
directory, JNotify add this functionality by createing an INotify
watch on every sub directory under the watched directory (this is
transparent to the user). this process takes a time which is linear
to the number of directories in the tree being recursively watched,
and require system resources, namely - INotify watches, which are
limited, by default to 8192 watches per processes.

<div class="p"><!----></div>
if you get an exception like :

<div class="p"><!----></div>
<b>net.contentobjects.jnotify.linux.JNotifyException_linux:
Error watching /home/omry/file : No space left on device</b><br />
it means the native inotify watch limit per process has been reached.
the solution is to change the limit with a command like this (only
root can do it): 

<div class="p"><!----></div>
<b>echo 32000 &#62; /proc/sys/fs/inotify/max_user_watches</b><br />
which will set the maximum number of watches per process to 32000.

<div class="p"><!----></div>
it is, however, possible to use <b>net.contentobjects.jnotify.linux.JNotify_linux</b>
class direclty, if you do not care about code portablity. this, however,
means you will also no benefit from the clean API of JNotify and not
from the recursive listening support.
